{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="h1-accueil">Accueil</h1>
<div class="accueil">
    

    
    {% for recette in recettes %}
    <div class="recette">
        <h5> {{recette.titre}} </h5>
        
        {% if recette.imageName %}
            {# Cette ligne sert a afficher l'image uploader #}
            <a href="{{path('app_recette_show', {id: recette.id})}}"><img src="{{vich_uploader_asset(recette, 'imageFile')}}" alt=""></a>
        {% else %}
            <a href="{{path('app_recette_show', {id: recette.id})}}"><img src="{{recette.imagesUrl}}" alt=""></a>
        {% endif %}
        
        <p>Posté par : {{recette.user.firstname}} {{recette.user.lastname}} </p>
        
    </div>
    {% endfor %}
    
</div>
{% endblock %}
